
BitchFighting/BitchFighting/obj/Debug/MainWindow.baml
BitchFighting/BitchFighting/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BitchFighting/BitchFighting/obj/Debug/BitchFighting_MarkupCompile.lref
BitchFighting/BitchFighting/obj/Debug/BitchFighting_MarkupCompile.i.lref
BitchFighting/BitchFighting/obj/Debug/BitchFighting_MarkupCompile.i.cache
BitchFighting/BitchFighting/obj/Debug/BitchFighting_MarkupCompile.cache
BitchFighting/BitchFighting/obj/Debug/BitchFighting.Properties.Resources.resources
BitchFighting/BitchFighting/obj/Debug/BitchFighting.pdb
BitchFighting/BitchFighting/obj/Debug/BitchFighting.g.resources
BitchFighting/BitchFighting/obj/Debug/BitchFighting.exe
BitchFighting/BitchFighting/obj/Debug/BitchFighting.csprojAssemblyReference.cache
BitchFighting/BitchFighting/obj/Debug/BitchFighting.csproj.GenerateResource.cache
BitchFighting/BitchFighting/obj/Debug/BitchFighting.csproj.FileListAbsolute.txt
BitchFighting/BitchFighting/bin/Debug/BitchFighting.exe
BitchFighting/BitchFighting/bin/Debug/BitchFighting.exe.config
BitchFighting/BitchFighting/bin/Debug/BitchFighting.pdb
BitchFighting/BitchFighting/obj/Debug/App.g.cs
BitchFighting/BitchFighting/obj/Debug/App.g.i.cs
BitchFighting/BitchFighting/obj/Debug/BitchFighting.csproj.CoreCompileInputs.cache
BitchFighting/BitchFighting/obj/Debug/MainWindow.g.cs
BitchFighting/BitchFighting/obj/Debug/MainWindow.g.i.cs
