
BitchFighting/BitchFighting/obj/Debug/MainWindow.baml
BitchFighting/BitchFighting/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BitchFighting/BitchFighting/obj/Debug/BitchFighting_MarkupCompile.lref
BitchFighting/BitchFighting/obj/Debug/BitchFighting_MarkupCompile.i.lref
BitchFighting/BitchFighting/obj/Debug/BitchFighting_MarkupCompile.i.cache
BitchFighting/BitchFighting/obj/Debug/BitchFighting_MarkupCompile.cache
BitchFighting/BitchFighting/obj/Debug/BitchFighting.Properties.Resources.resources
BitchFighting/BitchFighting/obj/Debug/BitchFighting.pdb
BitchFighting/BitchFighting/obj/Debug/BitchFighting.g.resources
BitchFighting/BitchFighting/obj/Debug/BitchFighting.exe
BitchFighting/BitchFighting/obj/Debug/BitchFighting.csprojAssemblyReference.cache
BitchFighting/BitchFighting/obj/Debug/BitchFighting.csproj.GenerateResource.cache
BitchFighting/BitchFighting/obj/Debug/BitchFighting.csproj.FileListAbsolute.txt
BitchFighting/BitchFighting/bin/Debug/BitchFighting.exe
BitchFighting/BitchFighting/bin/Debug/BitchFighting.exe.config
BitchFighting/BitchFighting/bin/Debug/BitchFighting.pdb
BitchFighting/BitchFighting/obj/Debug/App.g.cs
BitchFighting/BitchFighting/obj/Debug/App.g.i.cs
BitchFighting/BitchFighting/obj/Debug/BitchFighting.csproj.CoreCompileInputs.cache
BitchFighting/BitchFighting/obj/Debug/MainWindow.g.cs
BitchFighting/BitchFighting/obj/Debug/MainWindow.g.i.cs
BitchFighting/BitchFighting/obj/Debug/AddFighter.baml
BitchFighting/BitchFighting/obj/Debug/AddFighter.g.cs
BitchFighting/BitchFighting/obj/Debug/AddFighter.g.i.cs
BitchFighting/BitchFighting/obj/Debug/DesignTimeResolveAssemblyReferences.cache
BitchFighting/BitchFighting/obj/Debug/FightWindow.baml
BitchFighting/BitchFighting/obj/Debug/FightWindow.g.cs
BitchFighting/BitchFighting/obj/Debug/FightWindow.g.i.cs
BitchFighting/.vs/BitchFighting/v16/.suo
BitchFighting/BitchFighting/obj/Debug/BitchFighting.csproj.App.config
BitchFighting/BitchFighting/obj/Debug/BitchFighting.csproj.CopyComplete
BitchFighting/BitchFighting/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
BitchFighting/BitchFighting/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
BitchFighting/BitchFighting/bin/Debug/System.Net.Http.Primitives.xml
BitchFighting/BitchFighting/bin/Debug/System.Net.Http.Primitives.dll
BitchFighting/BitchFighting/bin/Debug/System.Net.Http.Extensions.xml
BitchFighting/BitchFighting/bin/Debug/System.Net.Http.Extensions.dll
BitchFighting/BitchFighting/bin/Debug/Newtonsoft.Json.xml
BitchFighting/BitchFighting/bin/Debug/Newtonsoft.Json.dll
BitchFighting/BitchFighting/bin/Debug/Microsoft.Threading.Tasks.xml
BitchFighting/BitchFighting/bin/Debug/Microsoft.Threading.Tasks.Extensions.xml
BitchFighting/BitchFighting/bin/Debug/Microsoft.Threading.Tasks.Extensions.dll
BitchFighting/BitchFighting/bin/Debug/Microsoft.Threading.Tasks.Extensions.Desktop.xml
BitchFighting/BitchFighting/bin/Debug/Microsoft.Threading.Tasks.Extensions.Desktop.dll
BitchFighting/BitchFighting/bin/Debug/Microsoft.Threading.Tasks.dll
BitchFighting/BitchFighting/bin/Debug/FireSharp.dll
BitchFighting/.vs/BitchFighting/v16/.suo
BitchFighting/.vs/BitchFighting/v16/Server/sqlite3/db.lock
BitchFighting/.vs/BitchFighting/v16/Server/sqlite3/storage.ide
BitchFighting/.vs/BitchFighting/v16/Server/sqlite3/storage.ide-shm
BitchFighting/.vs/BitchFighting/v16/Server/sqlite3/storage.ide-wal
BitchFighting/BitchFighting/obj/Debug/GameWindow.baml
BitchFighting/BitchFighting/bin/Debug/MaterialDesignColors.dll
BitchFighting/BitchFighting/bin/Debug/MaterialDesignColors.pdb
BitchFighting/BitchFighting/bin/Debug/MaterialDesignThemes.Wpf.dll
BitchFighting/BitchFighting/bin/Debug/MaterialDesignThemes.Wpf.pdb
BitchFighting/BitchFighting/bin/Debug/MaterialDesignThemes.Wpf.xml
BitchFighting/BitchFighting/obj/Debug/AddFighter.baml
BitchFighting/BitchFighting/obj/Debug/App.baml
BitchFighting/BitchFighting/obj/Debug/controls/HeroControl.baml
BitchFighting/BitchFighting/obj/Debug/controls/HeroControl.g.cs
BitchFighting/BitchFighting/obj/Debug/controls/HeroControl.g.i.cs
BitchFighting/BitchFighting/obj/Debug/GameWindow.g.cs
BitchFighting/BitchFighting/obj/Debug/GameWindow.g.i.cs
BitchFighting/BitchFighting/obj/Debug/AddFighter.baml
BitchFighting/BitchFighting/obj/Debug/GameWindow.g.cs
BitchFighting/BitchFighting/obj/Debug/GameWindow.g.i.cs
BitchFighting/BitchFighting/obj/Debug/GeneratedInternalTypeHelper.g.cs
BitchFighting/BitchFighting/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
